gigoldSystem=1.5.0
#\u5de5\u7a0b\u4e3b\u76ee\u5f55
log.home=../../logs
#\u8fd0\u884c\u73af\u5883:develop,product
sys.runmode=develop
#\u65e5\u5fd7\u7f16\u7801
sys.encoding=UTF-8
application.name=GIGOLD-SERVICE-TRADE
server.name=gigold-service-trade
#\u5b9e\u4f8b
instance.id=GIGOLD-SERVICE-TRADE_{{instance_id}}
#\u65e5\u5fd7\u7ea7\u522b
log.level=DEBUG
#\u5355\u4e2a\u65e5\u5fd7\u6587\u4ef6\u5927\u5c0f\uff0c\u5355\u4f4d\uff1aMB
log.limits_lines=20
log.routing.trigger=true
log.console.trigger=false
bus.mysql.url=jdbc:mysql://172.16.5.5:3306/foudation?characterEncoding=utf8&zeroDateTimeBehavior=round
bus.mysql.username.des=app_jigao
bus.mysql.password.des=67ad1079adbd471401dc2061284aa3db
bus.mysql.initialSize=0
bus.mysql.maxActive=100
config.mysql.url=jdbc:mysql://172.16.5.5:3306/configuration?characterEncoding=utf8&zeroDateTimeBehavior=round
config.mysql.username.des=app_jigao
config.mysql.password.des=67ad1079adbd471401dc2061284aa3db
config.mysql.initialSize=0
config.mysql.maxActive=20
dubbo.name=gigold-service-trade-provider
dubbo.host=
dubbo.port=23200
dubbo.group={{dubbo_group}}
dubbo.timeout=30000
dubbo.check=true
dubbo.registry=zookeeper://172.16.1.26:2181?backup=172.16.1.106:2181,172.16.2.200:2181
#MQ
namesrvAddr=172.16.1.31:9876;172.16.1.32:9876
redis.sentinels=172.16.1.25:26379,172.16.1.105:26379,172.16.5.2:26379
redis.sentinel.master=master1
redis.password=lejiayuan2016
XXTEA.key.des=gigold@cs
md5.key.des=gigold888@cs
#站内交易通知地址
inner.trade.notify.url=http://172.16.201.3:20900/api/message/send

{% if dubbo_group == "dispatch" %}
mq.switch.trigger=false
{% endif %}