gigoldSystem=1.5.0
#\u5de5\u7a0b\u4e3b\u76ee\u5f55
log.home=../../logs
#\u8fd0\u884c\u73af\u5883:develop,product
sys.runmode=develop
#\u65e5\u5fd7\u7f16\u7801
sys.encoding=UTF-8
application.name=GIGOLD-GATEWAY-HTFFUND
server.name=gigold-gateway-htfFund
#\u5b9e\u4f8b
instance.id=GIGOLD-GATEWAY-HTFFUND_{{instance_id}}
#\u65e5\u5fd7\u7ea7\u522b
log.level=DEBUG
#\u5355\u4e2a\u65e5\u5fd7\u6587\u4ef6\u5927\u5c0f\uff0c\u5355\u4f4d\uff1aMB
log.limits_lines=20
log.routing.trigger=true
log.console.trigger=false
bus.mysql.url=jdbc:mysql://172.16.5.5:3306/foudation?characterEncoding=utf8&zeroDateTimeBehavior=round
bus.mysql.username.des=app_jigao
bus.mysql.password.des=67ad1079adbd471401dc2061284aa3db
bus.mysql.initialSize=0
bus.mysql.maxActive=20
config.mysql.url=jdbc:mysql://172.16.5.5:3306/configuration?characterEncoding=utf8&zeroDateTimeBehavior=round
config.mysql.username.des=app_jigao
config.mysql.password.des=67ad1079adbd471401dc2061284aa3db
config.mysql.initialSize=0
config.mysql.maxActive=20
dubbo.name=gigold-gateway-htfFund-provider
dubbo.host=
dubbo.port=22304
dubbo.group=pro
dubbo.timeout=30000
dubbo.check=true
dubbo.registry=zookeeper://172.16.1.26:2181?backup=172.16.1.106:2181,172.16.2.200:2181
#MQ
namesrvAddr=172.16.1.31:9876;172.16.1.32:9876
redis.sentinels=172.16.1.25:26379,172.16.1.105:26379,172.16.5.2:26379
redis.sentinel.master=master1
redis.password=lejiayuan2016
XXTEA.key.des=gigold@cs
md5.key.des=gigold888@cs
htf.fundurl=http://open.lianjinsoft.com/apis/99fund/v1.3/
htf.privatekey=MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBAPQCfgQgYbJMTci4L3zMPq2G62a31HGo5UBPyR/6Hhgq99cCpejqJVIij1lsf+nIyHum/i7ewmB5BT/VkMOahkUn31pC1VEcplwNcFmaYIVQqqRZc/ZmC5TiQ1sW1+hzYROFFg5y1fwtbOJkK1uG/3nGqT4431Z1TAjd6qDswf1DAgMBAAECgYEAs1sRnZ7fsNr9Ychgv26xs4M0jLAa6+Clgfwjbem/LSyIN/auVOGmxRS6IZTrAMCg/KLmuzTp01ehUCZ+3gg7IDKc7UOdmdDWAshqSN6ninOcuLq/Jf23UVn9PnFZVBXvuxv1aoyaQrBCcGHL+G/xv+z8mupGQjB9ZBQXH9ztg8ECQQD7HGhv0+UADAi3LtARFrsgZA9fbGONjeK7j9m1oDu3pkcF8GQprSDefImtd52H6UZgw3mqIe3WKBs1KwgoBrWrAkEA+MKwsH1t0hN+Tle5D/M++txhHK3toWKu2XBaCkxUPmCOfb3KE2VbuxFrVW1u0F+EdVPREA/tMB3No1UDeqoOyQJBANQYCHX7qT5C69GdLoxggKk5Gmrkp6lWIB1/wMjRj97sCK0Rf+hbnJmO4tKrZ1j2RUVRlZ+HjNUHhwN/VyJHmIUCQCV3tYMvsS3WD80e+1nCqnbAYMQgEk2ffnRzrqwkaP/oLS4VOu2G87UOX5tDW1B5Qoslb7S6oWAA7Ssvr9F28bkCQQCHD2x+V/Xuo0NnM88cixz4Owwj8B0JA8PUp7kh8l4J/JZ0gD/t37n1zt8hzOZdvjRSeX8y28gWKt2cUyfWxa64
htf.publickey=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD3eVpIhZPTWyV05VgVvpJZWKKdJAaUde5aN1WEYWPFV6Rf1pkJ/wDv69pSNuUQen4tl1t0eloheBBLgjSkjAr0hBx61CJltfpl01r3FIXy6OhvebHWoR/cSFnfyybvkLPT7691ns7/X7+gnhI0ksKtNEwlweN3pb9ghQUqTx9LtQIDAQAB