gigoldSystem=1.5.0
#\u5de5\u7a0b\u4e3b\u76ee\u5f55
log.home=../../logs
#\u8fd0\u884c\u73af\u5883:develop,product
sys.runmode=develop
#\u65e5\u5fd7\u7f16\u7801
sys.encoding=UTF-8
application.name=lehome-service-ast
server.name=lehome-service-ast
#\u5b9e\u4f8b
instance.id=lehome-service-ast_{{instance_id}}
#\u65e5\u5fd7\u7ea7\u522b
log.level=DEBUG
#\u5355\u4e2a\u65e5\u5fd7\u6587\u4ef6\u5927\u5c0f\uff0c\u5355\u4f4d\uff1aMB
log.limits_lines=20
log.routing.trigger=true
log.console.trigger=false

bus.mysql.url=jdbc:mysql://rds4k2jb30100179br6p.mysql.rds.aliyuncs.com:3306/l_ast?characterEncoding=utf8&zeroDateTimeBehavior=round
bus.mysql.username.des=app_sqbj
bus.mysql.password.des=c8616b3c315653314804dbd398cea0dd
bus.mysql.initialSize=0
bus.mysql.maxActive=20
config.mysql.url=jdbc:mysql://rds4k2jb30100179br6p.mysql.rds.aliyuncs.com:3306/l_configration?characterEncoding=utf8&zeroDateTimeBehavior=round
config.mysql.username.des=app_sqbj
config.mysql.password.des=c8616b3c315653314804dbd398cea0dd
config.mysql.initialSize=0
config.mysql.maxActive=20

dubbo.name=lehome-service-ast
dubbo.host=
dubbo.port=26012
dubbo.group=pro
dubbo.timeout=15000
dubbo.check=true
dubbo.registry=zookeeper://172.16.202.8:2181?backup=172.16.202.9:2181,172.16.202.10:2181

redis.sentinels=172.16.201.5:26380,172.16.201.14:26380
redis.sentinel.master=master1
redis.password=LeJiaYuan88
XXTEA.key.des=123456
md5.key.des=gigold888@cs
namesrvAddr=172.16.1.31:9876;172.16.1.32:9876


quickpay.cardCheck.url=https://i.gigold.com/fdc/quickpay/cardBinCheck.do
quickpay.applySms.url=https://i.gigold.com/fdc/quickpay/sendSms.do
quickpay.bindCard.url=https://i.gigold.com/fdc/quickpay/agrCreate.do
quickpay.queryCardList.url=https://i.gigold.com/fdc/quickpay/getBindCards.do
quickpay.queryCardByAgr.url=https://i.gigold.com/fdc/quickpay/getAgr.do
quickpay.realName.url=https://i.gigold.com/fdc/quickpay/realNameQry.do
quickpay.bankList.url=https://i.gigold.com/fdc/quickpay/getAllEnableCorgInfo.do
gigold.user.register.url=https://i.gigold.com/foundation/user/registerUser.do
user.getCash.url=https://i.gigold.com/foundation/user/getCash.do
user.queryUserBal.url=https://i.gigold.com/foundation/user/queryUserAcBal.do
user.queryHelperAmtDetial.url=
wdc.day.times.limit=1
wdc.week.times.limit=2
wdc.min.amt=100
snag.exp.intervals=3
