gigoldSystem=1.0.0
#\u5de5\u7a0b\u4e3b\u76ee\u5f55
log.home=../../logs
#\u8fd0\u884c\u73af\u5883:develop,product
sys.runmode=develop
#\u65e5\u5fd7\u7f16\u7801
sys.encoding=UTF-8
application.name=lehome-service-centerConsole
server.name=lehome-service-centerConsole
#\u5b9e\u4f8b
instance.id=lehome-service-centerConsole_{{instance_id}}
#\u65e5\u5fd7\u7ea7\u522b
log.level=DEBUG
#\u5355\u4e2a\u65e5\u5fd7\u6587\u4ef6\u5927\u5c0f\uff0c\u5355\u4f4d\uff1aMB
log.limits_lines=20
log.routing.trigger=true
log.console.trigger=false
#memcache.server=182.92.170.189:11211
bus.mysql.url=jdbc:mysql://rdsun9l9lhqi018z46o6.mysql.rds.aliyuncs.com:3306/center_console?characterEncoding=utf8&zeroDateTimeBehavior=round
bus.mysql.username.des=db_root
bus.mysql.password.des=1fxOThmJl79z8C9uIVO4
bus.mysql.initialSize=0
bus.mysql.maxActive=20
config.mysql.url=jdbc:mysql://rdsun9l9lhqi018z46o6.mysql.rds.aliyuncs.com:3306/configuration?characterEncoding=utf8&zeroDateTimeBehavior=round
config.mysql.username.des=db_root
config.mysql.password.des=1fxOThmJl79z8C9uIVO4
config.mysql.initialSize=0
config.mysql.maxActive=20
dubbo.name=lehome-service-centerConsole
dubbo.host=0.0.0.0
dubbo.port=26022
dubbo.group=
dubbo.timeout=50000
dubbo.check=true
dubbo.registry=zookeeper://172.16.202.8:2181?backup=172.16.202.9:2181,172.16.202.10:2181
redis.host=172.16.202.1
redis.port=6379
redis.password=LehomeRedis01
XXTEA.key.des=gigold@cs
md5.key.des=gigold888@cs
namesrvAddr=172.16.1.31:9876;172.16.1.32:9876
zooKeeper.connectString=172.16.202.8:2181,172.16.202.9:2181,172.16.202.10:2181


property.3des.encKey=Ni9qN0Unm8c7HEc21xVDa81S
sys.sms.switch=true